@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* 
<!------- © 2023 | Todos os Direitos Reservados | © 2023 -------->
<!------- © 2023 | Todos os Direitos Reservados | © 2023 -------->
<!---------------|     FEITO POR DAVID BEN      | --------------->
<!------- © 2023 | Todos os Direitos Reservados | © 2023 -------->
<!------- © 2023 | Todos os Direitos Reservados | © 2023 -------->
*/


        /* SEÇÃO INICIAL */

* {
    padding: 0;
    margin: 0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #000;
    color: #fff;
    
}

.header{
    width: 100%;
    height: 700px; 
    left: 0;
    top: 0;
    background-image: 
        linear-gradient(to top,
            rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0.7) 40%, 
            rgba(0,0,0,0.5) 70%, 
            rgba(0, 0, 0, 0.75) 100%), url(images/header-image.png);
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 10px 8%;
}

.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 20px;
}

.header-content h1{
    margin-bottom: 20px;
    line-height: 55px;
    display: flex;
    font-size: 2.7rem;
    font-weight: 800;
    max-width: 750px;
}

.header-content h3{
    margin: 20px; 
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 30px;
}

.header-content p{
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 50px;
}

/* LOGO - NETFLIX */
.logo{
    width: 150px;
    cursor: pointer;
}
/* -------------- */

#language{
    display: inline-flex;
    align-items: center;
    border-radius: 3px;
    border: 5px solid transparent; 
    font-size: medium;
    color: black;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

/* BOTÃO DE ENTRAR */
nav button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 6.2px 24px;
    font-weight: 500;
    font-size: 1rem;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s ease;
}

nav .button-header:hover {
    background-color: #fff;
    color: #db0001;
}
/*-----------------*/

.email-signup {
    background: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
    justify-content: space-between;
}

.email-signup input {
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
    font-size: 16px;
}

.email-signup button {
    background: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    padding: 15px 30px;
}

.text-red {
    color: #db0001;
} 

#line-red {
    text-decoration-color: #db0001;
}
#email-icon {
    color: #fff;
}
            /* - FEATURES */


.features {
    padding: 50px 12%;
    font-size: 22px;
}

.row {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap-reverse;
    padding: 50px 0;
}


.text-col {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img-col {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img-col img {
    display: block;
    width: 90%;
    margin: auto;
}

.features h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;

}

/* PERGUNTAS FREQUENTES */

.quest {
    padding: 0 8%;
    margin-bottom: 10%;
    text-align: center;
    font-size: 18px;
}

.quest h2 {
    font-weight: 600;
    font-size: 40px;
}

.acordeon {
    margin: 0;
    width: 100%;
}

.acordeon li {
    list-style: none;
    width: 100%;
    padding: 5px;
}

.acordeon li label {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 23px 15px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 3px;
    cursor: pointer;
    position: relative;
}

label::after{
    content: "+"; 
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 1s;
}


input[type="radio"] {
    display: none;
}

.acordeon .content {
    background: #303030;
    text-align: left;
    padding: 0 20px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s, padding 0.5s ;
}

.acordeon input[type="radio"]:checked + label + .content {
    max-height: 600px;
    padding: 30px 20px;
}

.acordeon input[type="radio"]:checked + label::after {
    transform: rotate(135deg);
}

.quest .email-signup {
    max-width: 600px;
    margin: 20px auto 60px;
}

            /* ------------------------------ */
            /* ----------| FOOTER |---------- */
            /* ------------------------------ */

:root {
    --color-neutral-0: #0c0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

footer {
    padding: 2% 40px;
    width: 100%;
    color: var(--color-neutral-40);
    background-color: var(--color-neutral-10);
}


.links-footer a{
    text-decoration: none;
    gap: 5%;
}

.link-footer {
    color: #FFF;
    font-size: 30px;
    transition: .5s ease;
}

.link-footer:hover {
    color: #ff0000;
}

.footer-message {
    display: block;
}

#footer-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 1.35rem;
    gap: 10%;

}

#footer-contatos h1 {
margin-bottom: 0.75em;
}

.links-footer {
    display: flex;
    gap: 8%;
}


.footer-list {
    display: flex;
    gap: 0.75rem;
    flex-direction: column;
    list-style: none;
}

#footer-subscrite {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer-subscrite p {
    color: var(--color-neutral-30);
}

#input-gp {
    display: flex;
    align-items: center;
    background-color: var(--color-neutral-0);
    border-radius: 4px;
}

#input-gp input {
    display: flex;
    padding: .75rem;
    width: 100%;
    border-radius: 3px;
}

#input-gp button {
    background-color: #db0001;
    border: none;
    color: var(--color-neutral-40);
    padding: 9.5px 1.25rem;
    font-size: 1.125rem;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: .4s ease;

}

#input-gp button:hover {
    opacity: 0.8;
}


        /* RESPONSIVIDADE */ 
@media only screen and (max-width: 800px) {

    .logo {
        width: 100px;
    }
    nav button {
        padding: 5px 10px;
    }
    div #languade {
        padding: 4px 8px;
    }
    article {
        margin-top: 1rem;
    }
    .email-signup {
        display: none;
    }
    .header-content {
        position: unset;
        transform: none;
        padding-top: 150px;
    }
    .header-content h1 {
        font-size: 35px;
    }
    .email-signup {
        font-size: 12px;
        padding: 1px;
    }
    .text-col, .img-col {
        flex-basis: 100%;
    }
    .features h2 {
        font-size: 28px;
    }
    .features p {
        font-size: 20px;
    }
    .features .row {
    padding: 10px 0;
    }
    .acordeon .content {
        font-size: 18px;
    }
    .row-verse {
        display: block;
        flex-wrap: nowrap;
    }
    .quest h2 {
        font-size: 30px;
    }
    .acordeon .content {
        font-size: 18px;
    }
    .acordeon li label {
        border-radius: 3px;
        padding: 15px;
        font-size: 16px;
    }
    label::after {
        font-size: 22px;
    }
    #footer-content {
        display: block;
        padding: 5% 10px;
        width: 100%;
        height: 90%;
        align-content: center;
    }
    .footer-list h3 {
        font-size: 18px;
    }
    .footer-message {
        margin-bottom: 10%;
    }
}






/*
<!------- © 2023 | Todos os Direitos Reservados | © 2023 -------->
<!------- © 2023 | Todos os Direitos Reservados | © 2023 -------->
<!---------------|     FEITO POR DAVID BEN      | --------------->
<!------- © 2023 | Todos os Direitos Reservados | © 2023 -------->
<!------- © 2023 | Todos os Direitos Reservados | © 2023 -------->
*/